.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.tab {
    padding: 10px 20px;
    background-color: #f1f1f1;
    margin: 0 5px;
}
.tab.active {
    background-color: #555;
    color: #fff;
}
.content {
    display: none;
    text-align: center;
    width: 100%;
}
img .kimg {
    margin: 0 auto;
    padding: 0;
}
.content.active {
    display: inline-block;
}
.container {
    width: 100%;
}

.hide{
    display: none;
}